<div class="wrapper row4">
  <footer id="footer" class="hoc clear">

    <div class="one_third first">
      <h6 class="heading">Kalkulator</h6>
    </div>

    <div class="one_third">
      <h6 class="heading">Instrukcja użycia</h6>
      <p>
        Znając ilość moszczu oraz kwasowość owoców (patrz dział tabelki) , możemy w łatwy sposób obliczyć, ilość potrzebnej wody i cukru
      </p>
    </div>

    <div class="one_third">
      <h6 class="heading">Obliczanie ilości nastawu</h6>
      <form (ngSubmit)="calcIngredients(f)" #f="ngForm">
        <fieldset>
          <label for="fruits">Rodzaj owoców:</label>
          <select (change)="onSelect($event)" ngModel name="fruits" id="fruits" class="btmspace-15" required>>
            <option *ngFor="let item of fruit, let i = index" [value]="i">{{ item.name }}</option>
          </select>
          <label for="alcohol">Pożądana zawartość alkoholu w % :</label>
          <select (change)="onSelectAlk($event)" ngModel name="alcohol" id="alcohol" class="btmspace-15" required>>
            <option *ngFor="let item of alcohol, let i = index" [value]="i">{{ item.percent }}</option>
          </select>
          <input ngModel name="grape" class="btmspace-15" type="number" value="" placeholder="Ilość moszczu w litrach" required>
          <button [disabled]="!f.valid" type="submit" value="submit">Oblicz</button>
        </fieldset>
      </form>
      <hr />
      <p>
        Woda w litrach: {{ addWater }}
      </p>
      <p>
        Cukier w kg: {{ addSuggar }}
      </p>
      <p>
        Nastaw w litrach: {{ wine }}
      </p>


    </div>
  </footer>
</div>
