<div class="wrapper row4">
  <footer id="footer" class="hoc clear">
    <div class="one_third first">
      <h6 class="heading">Exative</h6>
      <nav>
        <ul class="nospace">
          <li><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="https://www.free-css.com/free-css-templates">About</a></li>
          <li><a href="https://www.free-css.com/free-css-templates">Contact</a></li>
          <li><a href="https://www.free-css.com/free-css-templates">Terms</a></li>
          <li><a href="https://www.free-css.com/free-css-templates">Privacy</a></li>
          <li><a href="https://www.free-css.com/free-css-templates">Cookies</a></li>
          <li><a href="https://www.free-css.com/free-css-templates">Disclaimer</a></li>
          <li><a href="https://www.free-css.com/free-css-templates">Online Shop</a></li>
          <li><a href="https://www.free-css.com/free-css-templates">Sitemap</a></li>
        </ul>
      </nav>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="https://www.free-css.com/free-css-templates"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="https://www.free-css.com/free-css-templates"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="https://www.free-css.com/free-css-templates"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="https://www.free-css.com/free-css-templates"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="https://www.free-css.com/free-css-templates"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-vk" href="https://www.free-css.com/free-css-templates"><i class="fa fa-vk"></i></a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Aenean molestie velit</h6>
      <ul class="nospace linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          Street Name &amp; Number, Town, Postcode/Zip
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
        <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Aliquam sit condimentum</h6>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
  </footer>
</div>
