<div class="hoc clear">
  <header id="header" class="hoc clear">
    <div class="langs">
      <span (click)="setLang($event)">PL</span> |
      <span (click)="setLang($event)">EN</span>
    </div>
    <div id="logo" class="fl_left">
      <h1><a href="/">Kalkulator winiarski</a></h1>
        <img src="/assets/wine.svg" alt="wine icon">
    </div>

    <nav [ngSwitch]="currentLang" id="mainav" class="fl_right">
      <ul *ngSwitchCase="'PL'" class="clear">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/tabelki">Tabelki</a></li>
        <li><a routerLink="/galeria">Galeria</a></li>
        <li><a routerLink="/kontakt">Kontakt</a></li>
      </ul>
      <ul *ngSwitchCase="'EN'" class="clear">
        <li><a routerLink="/en">Home</a></li>
        <li><a routerLink="/tables">Tables</a></li>
        <li><a routerLink="/gallery">Gallery</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
</div>

<div>
  <router-outlet></router-outlet>
</div>
