<div class="hoc clear">
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left">
      <h1><a href="https://www.free-css.com/free-css-templates">Kalkulator winiarski</a></h1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/tabelki">Tabelki</a></li>
        <li><a routerLink="/kontakt">Kontakt</a></li>
      </ul>
    </nav>
  </header>
</div>

<div>
  <router-outlet></router-outlet>
</div>
