<footer id="footer" class="hoc clear wrapper row4">

<div *ngIf="afAuth.user | async as user; else showLogin">
      <h1>Hello {{ user.displayName }}!</h1>
      <h1>Dodaj zdjęcie:</h1>

      <input class="btmspace-15 add-image" type="file" (change)="addImage($event)">

      <button (click)="logout()">Logout</button>
    </div>
    <ng-template #showLogin>
      <p>Please login.</p>
      <!-- <form>
        <input type="email" #youremail>
        <input type="password" #yourpassword>
        <button (click)="login()">Login</button>
      </form> -->

      <form class="one_half" [formGroup]="signinForm" (ngSubmit)="login()">

        <label>
          E-mail:
          <input class="btmspace-15" type="email" formControlName="youremail">
        </label>

        <label>
          Password:
          <input class="btmspace-15" type="password" formControlName="yourpassword">
        </label>

        <button type="submit" [disabled]="!signinForm.valid">Submit</button>

      </form>

    </ng-template>

  </footer>
