<footer id="footer" class="hoc clear">
<div class="wrapper">


        <h1>Tab. 1. Zawartość kwasów (w g/l) </h1>
        <table class="scrollable">
          <thead>
            <tr>
              <th>Owoce</th>
              <th>Zawartoś</th>
              <th>Owoce</th>
              <th>Zawartoś</th>
            </tr>
          </thead>
              <tbody>
                <tr >
                <td> agrest</td>
                <td> 19</td>
                <td> jeżyny</td>
                <td> 11</td>
              </tr>
              <tr >
                <td> czarna jagoda</td>
                <td> 10</td>
                <td> maliny</td>
                <td> 15</td>
              </tr>
              <tr >
                <td> czerwona borówka</td>
                <td> 21</td>
                <td> białe porzeczki</td>
                <td> 24</td>
              </tr>
              <tr >
                <td> czereśnie</td>
                <td> 4</td>
                <td> czerw. porzeczki</td>
                <td> 24</td>
              </tr>
              <tr >
                <td> gruszki</td>
                <td> 3</td>
                <td> czarne porzeczki</td>
                <td> 30</td>
              </tr>
              <tr >
                <td> jabłka</td>
                <td> 6-15</td>
                <td> wiśnie</td>
                <td> 13</td>
              </tr>
              <tr >
                <td> truskawki</td>
                <td> 10</td>
                <td> winogrona</td>
                <td > 8</td>
              </tr>
              </tbody>
            </table>
            <h1>Tab. 2. Ilość cukru w różnych rodzajach owoców (w g/l) </h1>
            <table class="scrollable">
              <thead>
                <tr>
                  <th>Owoce</th>
                  <th>Zawartoś</th>
                  <th>Owoce</th>
                  <th>Zawartoś</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <td>
                  <p>agrest</p>
                </td>
                <td>
                  <p>70</p>
                </td>
                <td>
                  <p>czarne porzeczki</p>
                </td>
                <td>
                  <p>85</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>czarna jagoda</p>
                </td>
                <td>
                  <p>55</p>
                </td>
                <td>
                  <p>czerwone porzeczki</p>
                </td>
                <td>
                  <p>60</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>czerwona borówka</p>
                </td>
                <td>
                  <p>70</p>
                </td>
                <td>
                  <p>białe porzeczki</p>
                </td>
                <td>
                  <p>70</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>gruszki</p>
                </td>
                <td>
                  <p>100</p>
                </td>
                <td>
                  <p>poziomki</p>
                </td>
                <td>
                  <p>60</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>jabłka</p>
                </td>
                <td>
                  <p>100</p>
                </td>
                <td>
                  <p>renklody</p>
                </td>
                <td>
                  <p>90</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>jeżyny</p>
                </td>
                <td>
                  <p>60</p>
                </td>
                <td>
                  <p>truskawki</p>
                </td>
                <td>
                  <p>45</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>maliny</p>
                </td>
                <td>
                  <p>100</p>
                </td>
                <td>
                  <p>węgierki</p>
                </td>
                <td>
                  <p>100</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>wiśnie</p>
                </td>
                <td>
                  <p>100</p>
                </td>
                <td>
                  <p>winogrona</p>
                </td>
                <td>
                  <p>155</p>
                </td>
              </tr>
              </tbody>
            </table>

</div>
</footer>
