<footer id="footer" class="hoc clear">
<div class="wrapper">


        <h1>Tab. 1. Acid content (in g / l)</h1>
        <table class="scrollable">
          <thead>
            <tr>
              <th> Fruits </th>
              <th> Content </th>
              <th> Fruits </th>
              <th> Content </th>
            </tr>
          </thead>
              <tbody>
                <tr>
                <td> gooseberry </td>
                <td> 19 </td>
                <td> blackberries </td>
                <td> 11 </td>
              </tr>
              <tr>
                <td> black berry </td>
                <td> 10 </td>
                <td> raspberries </td>
                <td> 15 </td>
              </tr>
              <tr>
                <td> red blueberry </td>
                <td> 21 </td>
                <td> white currants </td>
                <td> 24 </td>
              </tr>
              <tr>
                <td> cherries </td>
                <td> 4 </td>
                <td> red currant </td>
                <td> 24 </td>
              </tr>
              <tr>
                <td> pears </td>
                <td> 3 </td>
                <td> black currants </td>
                <td> 30 </td>
              </tr>
              <tr>
                <td> apples </td>
                <td> 6-15 </td>
                <td> cherries </td>
                <td> 13 </td>
              </tr>
              <tr>
                <td> strawberries </td>
                <td> 10 </td>
                <td> grapes </td>
                <td> 8 </td>
              </tr>
              </tbody>
            </table>
            <h1>Tab. 2. The amount of sugar in different types of fruit (in g / l)</h1>
            <table class="scrollable">
              <thead>
                <tr>
                  <th> Fruits </th>
                  <th> Content </th>
                  <th> Fruits </th>
                  <th> Content </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                <td>
                  <p>gooseberry</p>
                </td>
                <td>
                  <p>70</p>
                </td>
                <td>
                  <p>black currants</p>
                </td>
                <td>
                  <p>85</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>black berry</p>
                </td>
                <td>
                  <p>55</p>
                </td>
                <td>
                  <p>red currants</p>
                </td>
                <td>
                  <p>60</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p> red blueberry</p>
                </td>
                <td>
                  <p>70</p>
                </td>
                <td>
                  <p>white currants</p>
                </td>
                <td>
                  <p>70</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>pears</p>
                </td>
                <td>
                  <p>100</p>
                </td>
                <td>
                  <p>strawberry</p>
                </td>
                <td>
                  <p>60</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p> apple</p>
                </td>
                <td>
                  <p>100</p>
                </td>
                <td>
                  <p>greengage</p>
                </td>
                <td>
                  <p>90</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>Blackberry</p>
                </td>
                <td>
                  <p>60</p>
                </td>
                <td>
                  <p>strawberry</p>
                </td>
                <td>
                  <p>45</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>raspberry</p>
                </td>
                <td>
                  <p>100</p>
                </td>
                <td>
                  <p>hungarian</p>
                </td>
                <td>
                  <p>100</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>cherry</p>
                </td>
                <td>
                  <p>100</p>
                </td>
                <td>
                  <p>grapes</p>
                </td>
                <td>
                  <p>155</p>
                </td>
              </tr>
              </tbody>
            </table>

</div>
</footer>
